.awesome-slider {
  --organic-arrow-color: #fff;
}

.sectioned {
  display: block;
  overflow: scroll;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color: teal;
}

.awssld__content > img {
  filter: grayscale(100%) opacity(35%);
  mix-blend-mode: multiply;
}

.button {
  font-family: monospace;
  text-align: center;
  color: #fff;
}

.hello h1 {
  color: #cacaca;
  font-size: 1.8em;
  line-height: 1.7em;
  font-weight: 700;
}
.hello {
  color: #8a8a8a;
  font-size: 1.05em;
  line-height: 1.95em;
  font-weight: 400;
  font-family: Lato, Helvetica, Arial, sans-serif;
  text-align: center;
}
.intro h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.intro__item {
  font-size: 1em;
  margin-bottom: 1rem;
}
.intro__item span {
  display: block;
  font-weight: bold;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.grid-list .item {
  position: relative;
  display: block;
  margin: 1.2em;
  width: calc(50% - 2.4em);
}
.grid-list .screen {
  position: relative;
  display: block;
  z-index: 10;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.grid-list .bar {
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 10;
}
.grid-list .bar h2,
.grid-list .bar h3 {
  content: attr(data-text);
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #8a8a8a;
}
.grid-list .bar i,
.grid-list .bar i:after,
.grid-list .bar i:before {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 10px;
}
.grid-list .bar i:before,
article .bar i:before {
  content: " ";
  left: 16px;
  background-color: #ffbd2e;
  top: 0;
}
.grid-list .bar i:after,
article .bar i:after {
  content: " ";
  left: 32px;
  background-color: #28ca41;
  top: 0;
}
.grid-list .main {
  background-size: cover;
  padding-top: 58%;
  position: relative;
  background-position: center center;
  display: block;
  width: 100%;
  border-radius: 0;
  -moz-transform-style: flat;
  -webkit-transform-style: flat;
  transform-style: flat;
}
.grid-list .main:before {
  content: "";
  position: absolute;
  z-index: 20;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.75) inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid-list .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.grid-list .tags {
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: block;
}
.grid-list .tags div {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 80%;
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
.grid-list .tags ul {
  display: block;
  text-align: center;
  position: relative;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.grid-list .tags li {
  display: inline-block;
  padding: 0 0.5em;
  background-color: #313131;
  color: #999;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  margin: 2px;
  opacity: 0;
  position: relative;
  text-shadow: -1px -1px 0 #3f3f3f, -1px 0 0 #3f3f3f, -1px 1px 0 #3f3f3f,
    0 -1px 0 #3f3f3f, 0 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 1px -1px 0 #3f3f3f,
    1px 0 0 #3f3f3f, 1px 1px 0 #3f3f3f;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-origin: 50% 50% -10px;
  -webkit-transform-origin: 50% 50% -10px;
  transform-origin: 50% 50% -10px;
  -moz-transform-style: flat;
  -webkit-transform-style: flat;
  transform-style: flat;
  -moz-transform: rotateX(92deg);
  -ms-transform: rotateX(92deg);
  -webkit-transform: rotateX(92deg);
  transform: rotateX(92deg);
  -moz-transition: -moz-transform 0.285s cubic-bezier(0.5, 1.5, 0.5, 1.5);
  -o-transition: -o-transform 0.285s cubic-bezier(0.5, 1.5, 0.5, 1.5);
  -webkit-transition: -webkit-transform 0.285s cubic-bezier(0.5, 1.5, 0.5, 1.5);
  transition: transform 0.285s cubic-bezier(0.5, 1.5, 0.5, 1.5);
}
.grid-list .tags li:nth-child(1) {
  -moz-transition-delay: 0.45s, 0.45s;
  -o-transition-delay: 0.45s, 0.45s;
  -webkit-transition-delay: 0.45s, 0.45s;
  transition-delay: 0.45s, 0.45s;
  z-index: 12;
}
.grid-list .tags li:nth-child(2) {
  -moz-transition-delay: 0.49s, 0.49s;
  -o-transition-delay: 0.49s, 0.49s;
  -webkit-transition-delay: 0.49s, 0.49s;
  transition-delay: 0.49s, 0.49s;
  z-index: 11;
}
.grid-list .tags li:nth-child(3) {
  -moz-transition-delay: 0.53s, 0.53s;
  -o-transition-delay: 0.53s, 0.53s;
  -webkit-transition-delay: 0.53s, 0.53s;
  transition-delay: 0.53s, 0.53s;
  z-index: 10;
}
.grid-list .tags li:nth-child(4) {
  -moz-transition-delay: 0.57s, 0.57s;
  -o-transition-delay: 0.57s, 0.57s;
  -webkit-transition-delay: 0.57s, 0.57s;
  transition-delay: 0.57s, 0.57s;
  z-index: 9;
}
.grid-list .tags li:nth-child(5) {
  -moz-transition-delay: 0.61s, 0.61s;
  -o-transition-delay: 0.61s, 0.61s;
  -webkit-transition-delay: 0.61s, 0.61s;
  transition-delay: 0.61s, 0.61s;
  z-index: 8;
}
.grid-list .tags li:nth-child(6) {
  -moz-transition-delay: 0.65s, 0.65s;
  -o-transition-delay: 0.65s, 0.65s;
  -webkit-transition-delay: 0.65s, 0.65s;
  transition-delay: 0.65s, 0.65s;
  z-index: 7;
}

.grid-list .item:hover .tags li {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0) rotateX(0);
  -ms-transform: translate3d(0, 0, 0) rotateX(0);
  -webkit-transform: translate3d(0, 0, 0) rotateX(0);
  transform: translate3d(0, 0, 0) rotateX(0);
}
.grid-list .item:hover .tags li,
.grid-list .item:hover .tags:before,
.grid-list .item:hover h2 {
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.grid-list .imgs {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
.grid-list .imgs {
  left: -2px;
  width: calc(100% + 4px);
  border-radius: 0;
  opacity: 0;
  z-index: 3;
  overflow: hidden;
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -moz-transform-style: flat;
  -webkit-transform-style: flat;
  transform-style: flat;
  -moz-transition: opacity 0.15s ease-out,
    -moz-transform 0.25s cubic-bezier(0, 0.75, 0, 1);
  -o-transition: opacity 0.15s ease-out,
    -o-transform 0.25s cubic-bezier(0, 0.75, 0, 1);
  -webkit-transition: opacity 0.15s ease-out,
    -webkit-transform 0.25s cubic-bezier(0, 0.75, 0, 1);
  transition: opacity 0.15s ease-out,
    transform 0.25s cubic-bezier(0, 0.75, 0, 1);
}

.grid-list .imgs:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.7);
  background-blend-mode: luminosity;
}

.grid-list .item:hover .imgs {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
